<div id="deals_container">

<div id="deals_main">
	<div id="primary">
		<div id="large_element" class="shadow">
			<div id="large_image_container">
				<img id="large_image" width="440" src="/images/National-Event-Partners2-90_grid_6.jpg"></img>
			</div>
			<div id="large_content_container">
				<div id="large_content_title" class="emphasis" style="font-size: large">
					50% off $500
				</div>
				<div id="large_content" class="emphasis">
					Al Basha Restaurant
				</div>
				<div id="large_content">
					Palos Heights
				</div>
				<div id="large_content">
					Description
				</div>
			</div>
		</div>
	</div>

	<div id="secondary">
		<div id="medium_element" class="shadow">
			<div id="medium_image_container">
				<img id="medium_image" width="300" src="/images/National-Event-Partners2-90_grid_4.jpg"></img>
			</div>
			<div id="medium_content" class="emphasis">
				Al Basha Restaurant
			</div>
			<div id="medium_content">
				Palos Heights
			</div>
		</div>
		<div id="medium_element" class="shadow" style="float: right">
			<div id="medium_image_container">
				<img id="medium_image" width="300" src="/images/National-Event-Partners2-90_grid_4.jpg"></img>
			</div>
			<div id="medium_content" class="emphasis">
				Al Basha Restaurant
			</div>
			<div id="medium_content">
				Palos Heights
			</div>
		</div>
	</div>
</div>

<div id="sidebar">
	<% 10.times do %>
	<div id="small_element" class="shadow">
		<div id="small_image_container">
			<img id="small_image" width="200" src="/images/National-Event-Partners2-90_sidebar.jpg"></img>
		</div>
		<div id="small_content" class="emphasis">
			Al Basha Restaurant
		</div>
		<div id="small_content">
			Palos Heights
		</div>
	</div>
	<% end %>
</div>

</div>



