// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
	color: #666666;
	font-family: 'Droid Sans', sans-serif;
	font-weight: 400;
}

a:link {
	color:#555555;
	text-decoration: none;
}
a:visited {
	color:#555555;
	text-decoration: none;
}
a:hover {
	color:#FF9933;
	text-decoration: none;
}
a:active {
	color:#0000FF;
	text-decoration: none;
}

.shadow {
	/* Shadow */
	-moz-box-shadow: 2px 2px 2px #ccc;
	-webkit-box-shadow: 2px 2px 2px #ccc;
	box-shadow: 2px 2px 2px #ccc;
	
	/* Gradient */
	background: #feffff; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #feffff 0%, #efefef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#feffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #feffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #feffff 0%,#efefef 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #feffff 0%,#efefef 100%); /* IE10+ */
	background: linear-gradient(-45deg,  #feffff 0%,#efefef 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#efefef',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
}


.emphasis {
	color: #555555;
	font-weight: 700;
	text-shadow: #fff 1px 1px 0;
}

.highlight {
	font-family: 'Droid Serif', serif;
	font-style: italic;
	line-height: 150%;
	font-size: small;
}

.neighborhood {
	font-weight: 700;
	color: #999999;
}

#sidebar {
	width: 239px;
	position: absolute;
	top: 0px;
	right: 0px;
	float: right;
	margin: auto;
	overflow-y: scroll;
	height: 100%;
	border-left: 1px solid #EFEFEF;
}

#small_element {
	width: 220px;
	border: 1px solid #EFEFEF;
	position: relative;
	margin: 0 auto 10px;
	background-color: #FAFAFA;
}

#small_image_container {
	width: 210px;
	margin: 5px auto 5px;
}

#small_image {
	border: 5px solid white;
}

#small_content {
	width: 200px;
	margin: 5px auto;
	font-size: small;
	line-height: 125%;
}

#secondary {
	width: 660px;
	margin: auto;
	position: relative;
}

#medium_element {
	float: left;
	width: 320px;
	height: 260px;
	border: 1px solid #EFEFEF;
	position: relative;
	margin: auto;
	padding-bottom: 10px;
}

#medium_image_container {
	width: 310px;
	margin: 5px auto 5px;
}

#medium_image {
	border: 5px solid white;
}

#medium_content {
	width: 300px;
	height: 70px;
	margin: auto;
	overflow: hidden;
	line-height: 125%;
}

#primary {
	width: 660px;
	margin: 0 auto 10px;
	position: relative;
}

#large_element {
	margin: auto;
	width: 658px;
	height: 341px;
	border: 1px solid #EFEFEF;
	position: relative;
}

#large_image_container {
	float: left;
	width: 450px;
	margin: 5px 5px 0 5px;
}

#large_image {
	border: 5px solid white;
}

#large_title {
	font-size: large;
	margin: 10px 10px 0;
	width: 641px;
	height: 44px;
	overflow: hidden;
	line-height: 125%;
}

#large_content_container {
	float: right;
	width: 195px;
	height: 280px;
	overflow: hidden;
}

#large_content_neighborhood {
	margin: 10px 5px;
	height: 20px;
	overflow: hidden;
}

#large_content_highlights {
	margin: 10px 5px;
}

#deals_main {
	width: 720px;
	position: absolute;
	top: 0px;
	left: 0px;
}

#deals_container {
	width: 960px;
	height: 640px;
	position: relative;
	margin: auto;
}

#deal_detail_main {
	width: 898px;
	margin: 0 auto 20px auto;
	padding-bottom: 20px;
	border: 1px solid #EFEFEF;
}

#detail_title {
	margin: 10px 10px 0;
	width: 878px;
	height: 44px;
	overflow: hidden;
	line-height: 125%;
	font-size: large;
}

#detail_content_container {
	width: 390px;
	padding-right: 40px;
}

#detail_content_neighborhood {
	margin: 10px 5px;
	height: 20px;
	overflow: hidden;
}

#detail_content_pitch {
	margin: 10px 5px;
	font-family: 'Droid Serif', serif;
	line-height: 150%;
	color: #000000;
}

p {
	margin-bottom: 1em;
}

li {
	list-style-type: disc;
	margin-left: 40px;
}

#deal_detail_left{
	float: left;
	width: 450px;
}

#deal_detail_right {
	float: right;
}


#deal_detail_left_content {
	width: 210px;
	margin-left: 10px;
	margin-bottom: 10px;
	float: left;

}

.clear {
	clear: both;
}

#price {
	font-size: large;
	font-weight: 700;
	color: black;
	padding: 10px;
	background-color: #E0FFCD;
	border-bottom: thin solid white;
	}

#savings {
	color: black;
	background-color: #CFEEF5;
	font-family: 'Droid Serif', serif;
	padding: 10px;
	border-bottom: thin solid white;
}

#timeleft {
	color: black;
	background-color: #DDEACF;
	font-family: 'Droid Serif', serif;
	padding: 10px;
	margin-bottom: 10px;
}

#caption {
	color: black;
	text-align: center;
	width: 440px;
	margin-left: 10px;
	margin-bottom: 20px;
}

#detail_fineprint
{
	width: 190px;
	margin: auto;
}

#detail_location {
	line-height: 150%;

}

#detail_address {

}

#guest_list {
	margin-top: 10px;
	margin-left: 5px;
	color: black;
}

#guest {
	color: black;
	height: 50px;
	position: relative;
	margin-bottom: 10px;
}

#guest_name {
	position: absolute;
	top: 15px;
	left: 60px;
}

#event_info {
	color: black;
	margin-top: 10px;
	padding: 10px;
	background-color: #CFEEF5;
	line-height: 125%;
}

#proposal_datetimepicker {
	text-align: center;
	width: 250px;
	height: 30px;
	font-size: large;
}

#min_companions {
	width: 60px;
	height: 30px;
	font-size: large;
	text-align: right;
}

.field {
	margin-bottom: 10px;
}

#update_proposal {
	text-align: center;
	font-weight: 700;
}


#proposals_list {
	width: 960px;
	margin: auto;
}

td {
	padding: 5px;
	text-align: center;
	margin: 5px;
}

th {
	padding: 10px;
}

h1 {
	padding: 5px;
	margin: 10px;
	text-align: center;
}